nav ul {
    list-style: none;
    margin-left: 800px;

}

nav ul li {
    display: inline;
    margin-right: 50px;
}

.logo {
    width: 50px; /* Set the width of your logo */
    height: auto; /* Maintain aspect ratio */
    margin-right: 1500px; /* Adjust spacing between logo and navigation links */
    border: solid black;
    padding: 0px;
    margin-bottom: 0px;
}

nav {
    text-align: center;
}

